[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyyaml = "*"
python-telegram-bot = "*"
python-dotenv = "*"

[dev-packages]
pretty-errors = "*"
black = "*"
pylint = "*"
pipreqs = "*"

[requires]
python_version = "3.8"
